@import "utils";
// app global css in SCSS form
html,
body {
    //overflow-x: hidden;
    font-family: "Commissioner", sans-serif;
    background: $bg;
    overflow: hidden;
    height: 100svh;
    overflow-y: auto;
    font-size: 16px;
}

h1 {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
}

// CUSTOM COLORS
.bg-grey-lighter {
    background: #f1f1f1 !important;
}

.text-grey-lighter {
    color: #f1f1f1;
}

.bg-grey-light {
    background: #e1e1e1 !important;
}

.text-grey-light {
    color: #e1e1e1;
}

.bg-dark {
    background: $dark !important;
}

.bg-gray {
    background: $gray !important;
}

.text-gray {
    color: $gray !important;
}

.bg-sub {
    background: $sub !important;
}

.color-sub {
    color: $sub !important;
}

.text-input {
    color: rgba(0, 0, 0, 0.4);
}

.text-input-2 {
    color: rgba(0, 0, 0, 0.6);
}
