// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// COLORS
$primary: var(--tg-theme-button-color, #2ca6ff);
$secondary: #26A69A;
$accent: #9C27B0;

$gray: #84848a;
$sub: #3e405d;
$dark: #232333;
$dark-page: #121212;

$positive: #21BA45;
$negative: #C10015;
$info: #31CCEC;
$warning: #F2C037;

$light: #E1E1E1;
$lighter: #F1F1F1;

$bg: white;

// SIZES
$xs: 0.25rem;
$sm: 0.5rem;
$smh: 0.75rem;
$md: 1rem;
$mdh: 1.25rem;
$lg: 1.5rem;
$lgh: 1.75rem;
$xl: 2rem;